* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
}

/* NAV */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #0a2540;
    color: white;
    padding: 2% 5%;
}

.navbar a {
    color: white;
    margin-left: 1rem;
    text-decoration: none;
}

/* HERO */
.hero {
    text-align: center;
    padding: 4rem 2rem;
}

.hero h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

/* PROJECTS */
.projects {
    padding: 3rem 2rem;
    background: white;
     padding: 2% 5%;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.project-card {
    padding: 1.5rem;
    border-radius: 8px;
    background: #f4f6f8;
}

.project-card a {
    display: inline-block;
    margin-top: 1rem;
    color: #0a2540;
    font-weight: bold;
}

/* SKILLS */
.skills {
    padding: 3rem 2rem;
    text-align: center;
}

.skills ul {
    list-style: none;
    margin-top: 1rem;
}

.skills li {
    margin: 0.5rem 0;
}

/* CONTACT */
.contact {
    padding: 3rem 2rem;
    background: white;
    text-align: center;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 1rem;
    background: #0a2540;
    color: white;
}